<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>電腦報價幫手</title>
        <link rel="stylesheet" href="{% static 'index-1.css' %}">
    </head>

    <body>
        <div class="ull">
        <ul>
            <li><a class="active">電腦報價幫手</a></li>
            <li><a class="actives" href="/">首頁</a></li>
            <li><a href="/cpu">CPU</a></li>
            <li><a href="/MB">主機板</a></li>
            <li><a href="/ssd">SSD</a></li>
            <li><a href="/hdd">HDD</a></li>
            <li><a href="/display">顯示卡</a></li>
            <li><a href="/Memory">記憶體</a></li>
            <li><a href="/Power">電源供應器</a></li>
            <li><a href="/chassis">機殼</a></li>
            <!-- <li><a href="/yyyy">yyyy</a></li> -->
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li><a href="/login">登入</a></li>
            <li><a href="/signup">註冊</a></li>
        </ul>
        </div>
        <div class="til">
            <a href="/">電腦報價幫手</a>
        </div> 
        <div class="marqee-root-a">
            <marquee>【CPU Intel Core i9-12900KS 中央處理器 盒裝 $22888】【主機板 華碩 ROG MAXIMUS Z690 EXTREME GLACIAL $60090】【SSD 金士頓 Kingston KC3000 2TB PCIe 4.0 NVMe M.2 SSD $9399】
            【HDD WD【黑標】10TB 3.5吋電競硬碟(WD101FZBX) $8990】【顯示卡 技嘉 GeForce RTX 3090 Ti GAMING OC 24G $66590】【記憶體 Kingston 金士頓 FURY DDR4 3600 64GB $8605】
			【電源供應器 ASUS 華碩 ROG STRIX 1000G 1000W 金牌 $6090】【機殼 Thermaltake曜越 View 71 TG RGB 高直立式強化玻璃機殼 CA-1I7-00F1WN-01 $7790】
			</marquee>
        </div>
        <div class="ag">
            <img src="{% static 'images/coolpc1.jpg' %}">
        </div>
		<div class="bg">
            <img src="{% static 'images/coolpc2.jpg' %}">
        </div>
		<div class="cg">
            <img src="{% static 'images/coolpc3.jpg' %}">
        </div>
		<div class="dg">
            <img src="{% static 'images/coolpc4.jpg' %}">
        </div>
    <center>
		<div class="tab">
            <table class="hot">
              <tr>
                <th bgcolor="#6C6C6C"><font size="5">熱門商品</font></th>
			  </tr>
            </table>
		    <table class="hat">
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B" target="_blank"><img src="{% static 'images/3.jpg' %}"  alt="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)" title="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)"></a>
				<h5><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B" target="_blank" style="text-decoration:none">ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DRAEC4-A900AS2CL" target="_blank"><img src="{% static 'images/9.jpg' %}"  alt="MONTECH(君主) Air X (黑) 內含ARGB風扇20cm*2+12cm*1/鋼化玻璃/E-ATX 電腦機殼" title="MONTECH(君主) Air X (黑) 內含ARGB風扇20cm*2+12cm*1/鋼化玻璃/E-ATX 電腦機殼"></a>
				<h5><a href="https://24h.pchome.com.tw/prod/DRAEC4-A900AS2CL" target="_blank" style="text-decoration:none">MONTECH(君主) Air X (黑) 內含ARGB風扇20cm*2+12cm*1/鋼化玻璃/E-ATX 電腦機殼</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B" target="_blank"><img src="{% static 'images/10.jpg' %}"  alt="ROG Flow Z13 GZ301ZC-0091A12700H 無盡黑(i7-12700H/8G+8G/RTX3050/512G PCIe/W11/WUXGA/13.4)" title="ROG Flow Z13 GZ301ZC-0091A12700H 無盡黑(i7-12700H/8G+8G/RTX3050/512G PCIe/W11/WUXGA/13.4)"></a>
				<h5><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B" target="_blank" style="text-decoration:none">ROG Flow Z13 GZ301ZC-0091A12700H 無盡黑(i7-12700H/8G+8G/RTX3050/512G PCIe/W11/WUXGA/13.4)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DSABCU-A900BWM0F" target="_blank"><img src="{% static 'images/11.jpg' %}"  alt="MSI Optix MPG321QRF-QD 平面電競螢幕 (32型/WQHD/HDR/175hz/1ms/IPS)" title="MSI Optix MPG321QRF-QD 平面電競螢幕 (32型/WQHD/HDR/175hz/1ms/IPS)"></a>
				<h5><a href="https://24h.pchome.com.tw/prod/DSABCU-A900BWM0F" target="_blank" style="text-decoration:none">MSI Optix MPG321QRF-QD 平面電競螢幕 (32型/WQHD/HDR/175hz/1ms/IPS)</a></h5>
				</th>
		    </table>
		</div>
	</center>
    <center>
		<div class="tab">
            <table class="hot">
              <tr>
                <th bgcolor="#6C6C6C"><font size="5">降價商品</font></th>
			  </tr>
            </table>
		    <table class="hat">
				<th><a href="https://24h.pchome.com.tw/prod/DRAA6E-A90083EJ5" target="_blank"><img src="{% static 'images/12.jpg' %}"  alt="Apacer宇瞻 AC730 1TB USB3.1 2.5吋軍規行動硬碟" title="Apacer宇瞻 AC730 1TB USB3.1 2.5吋軍規行動硬碟"></a>
				<h5><a href="https://24h.pchome.com.tw/prod/DRAA6E-A90083EJ5" target="_blank" style="text-decoration:none">Apacer宇瞻 AC730 1TB USB3.1 2.5吋軍規行動硬碟</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DCAH0Y-A900A3QCK" target="_blank"><img src="{% static 'images/13.jpg' %}"  alt="達墨 TOPMORE 專業級遊戲電競鍵盤 Shuriken GK-100(青軸)" title="達墨 TOPMORE 專業級遊戲電競鍵盤 Shuriken GK-100(青軸)"></a>
				<h5><a href="https://24h.pchome.com.tw/prod/DCAH0Y-A900A3QCK" target="_blank" style="text-decoration:none">達墨 TOPMORE 專業級遊戲電競鍵盤 Shuriken GK-100(青軸)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DCAN0K-A9008KK0W" target="_blank"><img src="{% static 'images/14.jpg' %}"  alt="【A4 Bloody】雙飛燕 P85光微動 5K RGB 戰神彩漫電競鼠 (贈金靴)" title="【A4 Bloody】雙飛燕 P85光微動 5K RGB 戰神彩漫電競鼠 (贈金靴)"></a>
				<h5><a href="https://24h.pchome.com.tw/prod/DCAN0K-A9008KK0W" target="_blank" style="text-decoration:none">【A4 Bloody】雙飛燕 P85光微動 5K RGB 戰神彩漫電競鼠 (贈金靴)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DCABHB-A900A5QCM" target="_blank"><img src="{% static 'images/15.jpg' %}"  alt="電池 ACER 宏碁 AS10D51 AS10D31 4740G 4741G 5740G 5741G 5251 E1-531G E1-571 E1-571G" title="電池 ACER 宏碁 AS10D51 AS10D31 4740G 4741G 5740G 5741G 5251 E1-531G E1-571 E1-571G"></a>
				<h5><a href="https://24h.pchome.com.tw/prod/DCABHB-A900A5QCM" target="_blank" style="text-decoration:none">電池 ACER 宏碁 AS10D51 AS10D31 4740G 4741G 5740G 5741G 5251 E1-531G E1-571 E1-571G</a></h5>
				</th>
		    </table>
		</div>
	</center>
    </body>
</html>