<!doctype html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<title>電腦報價幫手</title>
	<link rel="stylesheet" href="{% static 'index-2.css' %}">
</head>

<body>
	<ul>
		<li><a class="active">電腦報價幫手</a></li>
		<li><a href="/">首頁</a></li>
		<li><a href="/cpu">CPU</a></li>
		<li><a href="/MB">主機板</a></li>
		<li><a href="/ssd">SSD</a></li>
		<li><a href="/hdd">HDD</a></li>
		<li><a href="/display">顯示卡</a></li>
		<li><a href="/Memory">記憶體</a></li>
		<li><a class="actives" href="/Power">電源供應器</a></li>
		<li><a href="/chassis">機殼</a></li>
		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		<li><a href="/login">登入</a></li>
		<li><a href="/signup">註冊</a></li>
	</ul>
	<center>
		<div class="h1">
			<a href="/">電腦報價幫手</a>
		</div>
		<br />
		<form class="wat" method='POST'>
			{% csrf_token %}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜尋：{{ All_Filter.form.name_all }}
			<input type="submit" class="btn btn-primary" value="查詢">
		</form>
	</center>
	<div class="marqee-root">
		<marquee>【CPU Intel Core i9-12900KS 中央處理器 盒裝 $22888】【主機板 華碩 ROG MAXIMUS Z690 EXTREME GLACIAL $60090】【SSD 金士頓
			Kingston KC3000 2TB PCIe 4.0 NVMe M.2 SSD $9399】
			【HDD WD【黑標】10TB 3.5吋電競硬碟(WD101FZBX) $8990】【顯示卡 技嘉 GeForce RTX 3090 Ti GAMING OC 24G $66590】【記憶體 Kingston 金士頓
			FURY DDR4 3600 64GB $8605】
			【電源供應器 ASUS 華碩 ROG STRIX 1000G 1000W 金牌 $6090】【機殼 Thermaltake曜越 View 71 TG RGB 高直立式強化玻璃機殼 CA-1I7-00F1WN-01
			$7790】
		</marquee>
	</div>
	<form class="gt" method='POST'>
		{% csrf_token %}
		廠商：{{ power_Filter.form.vendor }}
		名稱：{{ power_Filter.form.name }}
		價格：{{ power_Filter.form.price }}
		<input type="submit" class="btn btn-primary" value="查詢" /><br />
	</form>
	<div class="kt">
		{%if power_Filter.qs|length >= 1 and All_Filter.qs|length == 1651 %}
		<!---1651=資料庫全部的資料-->
		<table width="100%" height="508" border="1">
			<th width="5%" height="50" scope="col">
				<font size="5">廠商</font>
			</th>
			<th width="10%" scope="col">
				<font size="5">商品圖片</font>
			</th>
			<th width="20%" scope="col">
				<font size="5">商品名稱</font>
			</th>
			<th width="5%" scope="col">
				<font size="5">價格</font>
			</th>
			<th width="20%" scope="col">
				<font size="5">詳細資訊</font>
			</th>
			<th width="5%" scope="col">
				<font size="5">瓦數</font>
			</th>
			<th width="10%" scope="col">
				<font size="5">購買連結</font>
			</th>
			<h1>共有{{power_Filter.qs|length}}筆資料</h1>
			{% for aaa in power_Filter.qs%}
			<tr align="center">
				<td>{{aaa.vendor}}</td>
				<td><img src="{{aaa.pc_images}}" width="200" height="200"></td>
				<td>{{aaa.name}}</td>
				<td>{{aaa.price}}</td>
				<td>{{aaa.commodity}}</td>
				<td>{{aaa.Watts}}</td>
				<td><input type="button" value="購買連結" onclick="window.open('{{aaa.url_list}}')"></td>
			</tr>
			{% endfor %}
			{% elif power_Filter.qs|length == 0 %}
			<h1>查詢無結果</h1>
			{% elif All_Filter.qs|length >= 1 and power_Filter.qs|length == 103%}
			<table width="100%" height="508" border="1">
				<th width="5%" height="50" scope="col">
					<font size="5">廠商</font>
				</th>
				<th width="20%" scope="col">
					<font size="5">商品圖片</font>
				</th>
				<th width="20%" scope="col">
					<font size="5">商品名稱</font>
				</th>
				<th width="5%" scope="col">
					<font size="5">價格</font>
				</th>
				<th width="20%" scope="col">
					<font size="5">詳細資訊</font>
				</th>
				<th width="10%" scope="col">
					<font size="5">購買連結</font>
				</th>
				<h1>共有{{All_Filter.qs|length}}筆資料</h1>
				{% for aaa in All_Filter.qs%}
				<tr align="center">
					<td>{{aaa.vendor}}</td>
					<td><img src="{{aaa.pc_images}}" width="200" height="200"></td>
					<td>{{aaa.name_all}}</td>
					<td>{{aaa.price}}</td>
					<td>{{aaa.commodity}}</td>
					<td><input type="button" value="購買連結" onclick="window.open('{{aaa.url_list}}')"></td>
				</tr>
				{% endfor %}
				{% else %}
				<h1>查詢無結果</h1>
				{% endif %}
			</table>
	</div>
</body>

</html>