body{
    background-color:#cccccc;
}
#title{
	text-decoration:none;
	display: flex;
	color: rgb(12, 7, 24);
	font-size: 50px;
	font-weight:bolder;
	
}
.title{
	display: flex;
	flex-direction: row;
	background-color: aliceblue;
	justify-content: center;
	width: 100%;
	position: relative;
}
.log{
	position: absolute;
	right: 300px;
}
.res{
	position: absolute;
	right: 350px;
	margin-top: -5px8jjjjjjjjjjjjjjj;

}

.h1{
    color:red;
    margin: 10px;
    padding: 10px;
    padding-right:0%;
    font-size: 40px;
	font-weight:bolder;
	position: relative;
}
.searcht{
    position:relative;
    right:0px;
    font-size: 20px;
}
ul {
	display: flex;
	justify-content: space-around;
	background-color:black;
	list-style: none;
	margin: 10px;
    padding: 5px;
	font-family:Microsoft JhengHei;
	font-weight:bolder;
	font-size:25px;  
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
	font-weight:1000;
}

li a:hover {
    background-color:rebeccapurple;
}

.tab{
	margin: 10px;
    padding: 5px;
	
}
.hot{
	width: 60%;
	height: 5%;
	border: 2px black solid;
}
.hat{
	width: 60%;
	height: 30%;
	border: 2px black solid;
}
.hat th{
	width: 15%;
	height: 50%;
	
}
.hat img{
	width: 150px;
    height: 150px;
	max-width: 100%;
}
.hat a{
	width: 100px;
    height: 40px;
    border: 0;
    color: black;
}