<html>
    <head>
        <meta charset="utf-8">
        <title>電腦報價幫手</title>
        <link href="css/hdd.css" rel="stylesheet">
    </head>

    <body>
        <div class="center"> 
            <div class = "h1">
				<a href="index.html" target="_self"  style="text-decoration:none" title="電腦報價幫手">電腦報價幫手</a>
			</div>
            <form name="input" action="XXX" method="get">
                <div class="search">
                    <input type="text" name="name" size="100%">
                    <input type="submit" value="搜尋">
                </div>
            </form>
			<div class="but">
				<div class="login">
					<input type="button" value="Log In">
				</div>
			<div class="signup">
				<input type="button" value="Sign Up">
				</div>
			</div>
		</div>
        <hr/>
        
          <div class="list">
            <ul>
                <li><a href="cpu.html">CPU</a></li>
                <li><a href="MB.html">主機板</a></li>
                <li><a href="ssd.html">SSD</a></li>
                <li><a href="hdd.html">HDD</a></li>
                <li><a href="VGA.html">顯示卡</a></li>
                <li><a href="Memory.html">記憶體</a></li>
                <li><a href="Power.html">電源供應器</a></li>
                <li><a href="chassis.html">機殼</a></li>
            </ul>
          </div>
        <hr/>
		<div class="cm">
            <div id="filterbar" class="bar-spinbtn">
              價格範圍:
                <input id="minprice" type="text" value="">
                ~
                <input id="minprice1" type="text" value="">
                <input id="btn-prc" type="button" value="搜尋">
            </div>
        </div>
		<div class="cmr">
			選擇品牌:
			<select name="catordog">
			<option>品牌</option>
			  <optgroup label="東芝Toshiba硬碟">
				<option>T》桌上．裝機碟</option>
				<option>T》桌上．NAS / 雲端碟</option>
				<option>T》桌上．監控碟</option>
				<option>T》企業級硬碟</option>
				<option>T》2.5吋硬碟</option>
			  </optgroup>
			  <optgroup label="威騰WD硬碟">
				<option>W》藍標．裝機碟</option>
				<option>W》紅標．NAS碟</option>
				<option>W》黑標．雙核電競</option>
				<option>W》紫標．監控碟</option>
				<option>W》金標．企業級</option>
				<option>W》Ultrastar．企業級</option>
				<option>W》2.5吋．筆記型</option>  
              </optgroup>
			  <optgroup label="希捷Seagate硬碟">
				<option>S》裝機．Barracuda</option>
				<option>S》NAS．IronWolf</option>
				<option>S》監控．SkyHawk</option>
				<option>S》企業碟/企業NAS碟</option>
				<option>S》2.5吋．筆電LT/LM</option>  
              </optgroup>
			</select>
		</div>
		<div class="cmrr">
			容量:
			<select name="dogorcat">
			  <option>容量</option>
			  <optgroup label="內接硬碟">
			    <option>18TB 硬碟</option> 
				<option>16TB 硬碟</option>
				<option>14TB 硬碟</option> 
				<option>12TB 硬碟</option>
				<option>10TB 硬碟</option>
				<option>8TB 硬碟</option>
				<option>6TB 硬碟</option>
				<option>4TB 硬碟</option>
				<option>3TB 硬碟</option>
				<option>2TB 硬碟</option>
				<option>1TB 硬碟</option>
				<option>1TB ↘ 硬碟</option>
				<option>SAS 全容量</option>
			  </optgroup>
			</select>
		</div>
        <br/>
            <table width="100%" height="508" border="1">
			<tbody>
              <tr class="title_1">
                <th width="20%" height="50" bgcolor="#fffcec" scope="col"><font size="5">圖片</font></th>
				<th width="50%" bgcolor="#fffcec" scope="col"><font size="5">規格</font></th>
                <th width="15%" bgcolor="#fffcec" scope="col"><font size="5">價錢</font></th>
				<th width="15%" bgcolor="#fffcec" scope="col"><font size="5">前往購買</font></th>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/1.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">WD【黑標 7mm】500GB 2.5吋電競硬碟(WD5000LPSX)</h5>
				<span class="nick">"WD【黑標 7mm】1TB 2.5吋電競硬碟(WD10SPSX) 【雙核心升級look】 ★容量：1tb ★7mm薄型設計 ★7200高轉速 ★雙核心處理器. 雙倍處理能力高效能 ★高解析度控制器(hrc). 提升影像品質"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$1790</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAB27-A900B3RAJ')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/1.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">WD【黑標 7mm】500GB 2.5吋電競硬碟(WD5000LPSX)</h5>
				<span class="nick">"WD【黑標 7mm】1TB 2.5吋電競硬碟(WD10SPSX) 【雙核心升級look】 ★容量：1tb ★7mm薄型設計 ★7200高轉速 ★雙核心處理器. 雙倍處理能力高效能 ★高解析度控制器(hrc). 提升影像品質"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$1790</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAB27-A900B3RAJ')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/1.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">WD【黑標 7mm】500GB 2.5吋電競硬碟(WD5000LPSX)</h5>
				<span class="nick">"WD【黑標 7mm】1TB 2.5吋電競硬碟(WD10SPSX) 【雙核心升級look】 ★容量：1tb ★7mm薄型設計 ★7200高轉速 ★雙核心處理器. 雙倍處理能力高效能 ★高解析度控制器(hrc). 提升影像品質"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$1790</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAB27-A900B3RAJ')"></div></td>
			  </tr>
		      <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/1.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">WD【黑標 7mm】500GB 2.5吋電競硬碟(WD5000LPSX)</h5>
				<span class="nick">"WD【黑標 7mm】1TB 2.5吋電競硬碟(WD10SPSX) 【雙核心升級look】 ★容量：1tb ★7mm薄型設計 ★7200高轉速 ★雙核心處理器. 雙倍處理能力高效能 ★高解析度控制器(hrc). 提升影像品質"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$1790</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAB27-A900B3RAJ')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/1.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">WD【黑標 7mm】500GB 2.5吋電競硬碟(WD5000LPSX)</h5>
				<span class="nick">"WD【黑標 7mm】1TB 2.5吋電競硬碟(WD10SPSX) 【雙核心升級look】 ★容量：1tb ★7mm薄型設計 ★7200高轉速 ★雙核心處理器. 雙倍處理能力高效能 ★高解析度控制器(hrc). 提升影像品質"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$1790</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAB27-A900B3RAJ')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/1.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">WD【黑標 7mm】500GB 2.5吋電競硬碟(WD5000LPSX)</h5>
				<span class="nick">"WD【黑標 7mm】1TB 2.5吋電競硬碟(WD10SPSX) 【雙核心升級look】 ★容量：1tb ★7mm薄型設計 ★7200高轉速 ★雙核心處理器. 雙倍處理能力高效能 ★高解析度控制器(hrc). 提升影像品質"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$1790</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAB27-A900B3RAJ')"></div></td>
			  </tr>
			</tbody>
			</table>

    </body>
</html>