{% load static %}
<html>
    <head>
		<link rel="stylesheet" href="{% static 'home.css' %}">
        <meta charset="utf-8">
        <title>電腦報價幫手</title>
        
    </head>

    <body>
		<div class="title">
		<a id="title" href="home.html" target="_self"  >電腦報價幫手</a>
			<div>
				<p class="res">註冊</p>
				<p class="log">登入</p>
			</div>
        </div>
		
		
		
		<!--<form class="log">
			<input type="button" value="登入" onclick="location.href='login.html'">
		</form>
		<form class="res">
			<input type="button" value="註冊" onclick="location.href='signup.html'">
		</form>
            <div class = "h1">>
				
				
			</div>
            <form name="input" action="XXX" method="get">
                <div class="search">
                    <input type="text" name="name" size="100%">
                    <input type="submit" value="搜尋">
                </div>
            </form>
		</div>
        <hr/>
        
          <div class="list">
            <ul>
                <li><a href="cpu.html">CPU</a></li>
                <li><a href="MB.html">主機板</a></li>
                <li><a href="ssd.html">SSD</a></li>
                <li><a href="hdd.html">HDD</a></li>
                <li><a href="VGA.html">顯示卡</a></li>
                <li><a href="Memory.html">記憶體</a></li>
                <li><a href="Power.html">電源供應器</a></li>
                <li><a href="chassis.html">機殼</a></li>
            </ul>
		</div>
        <hr/>
		<center>
			<div class="tab">
            <table class="hot">
              <tr>
                <th bgcolor="#6C6C6C"><font size="5">熱門商品</font></th>
			  </tr>
            </table>
		    <table class="hat">
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B"><img src="images/3.jpg"  alt="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)" title="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)"></a>
				<h5><a herf="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B">ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B"><img src="images/3.jpg"  alt="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)" title="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)"></a>
				<h5><a herf="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B">ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B"><img src="images/3.jpg"  alt="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)" title="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)"></a>
				<h5><a herf="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B">ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B"><img src="images/3.jpg"  alt="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)" title="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)"></a>
				<h5><a herf="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B">ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)</a></h5>
				</th>
		    </table>
		</div>
		</center>
		<center>
			<div class="tab">
            <table class="hot">
              <tr>
                <th bgcolor="#6C6C6C"><font size="5">熱門商品</font></th>
			  </tr>
            </table>
		    <table class="hat">
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B"><img src="images/3.jpg"  alt="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)" title="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)"></a>
				<h5><a herf="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B">ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B"><img src="images/3.jpg"  alt="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)" title="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)"></a>
				<h5><a herf="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B">ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B"><img src="images/3.jpg"  alt="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)" title="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)"></a>
				<h5><a herf="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B">ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)</a></h5>
				</th>
				<th><a href="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B"><img src="images/3.jpg"  alt="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)" title="ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)"></a>
				<h5><a herf="https://24h.pchome.com.tw/prod/DHAS4N-A900B7V2B">ASUS ROG Zephyrus G14 GA401QM-0032E5900HS 日蝕灰(R9-5900HS/16+16G/RTX3060-6G/1T PCIe/W10/WQHD)</a></h5>
				</th>
		    </table>
		</div>
		</center>
    </body>
</html>