<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>電腦設備組裝</title>
	<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script>
		function initializeApp(data) {  //初始化LIFF
			var userid = data.context.userId;  //取得ID
		}

		function pushMsg(pCPU, PMemory, Ppower, PSSD, Pgpu) {
			if (pCPU == '請選擇CPU' || PMemory == '請選擇記憶體' || Ppower == '請選擇電源供應器' || PSSD == '請選擇固態硬碟' || Pgpu == '請選擇顯示卡') {  //資料檢查
				alert('每個項目都必須選擇！');
				return;
			}
			var msg = "###";  //回傳訊息字串
			msg = msg + pCPU + "/";
			msg = msg + PMemory + "/";
			msg = msg + Ppower + "/";
			msg = msg + PSSD + "/";
			msg = msg + Pgpu;

			liff.sendMessages([  //推播訊息
				{
					type: 'text',
					text: msg
				}
			])
				.then(() => {
					liff.closeWindow();  //關閉視窗
				});
		}

		$(document).ready(function () {
			liff.init(function (data) {  //初始化LIFF
				initializeApp(data);
			});

			$('#sure').click(function (e) {  //按下確定鈕
				pushMsg($('#CPU').val(), $('#Memory').val(), $('#power').val(), $('#SSD').val(), $('#gpu').val());
			});
		});
	</script>
</head>

<body>

	<div class="row" style="margin: 10px">

		<div class="col-12" style="margin: 10px">

			<label for="SSD" class="form-label">CPU</label>
			<select class="custom-select custom-select-lg mb-3" id="CPU">
				<optgroup label="Intel">
					<option selected>請選擇CPU</option>
					<option value="{{cpus.id}}">{{cpus.name}}</option>
					<option value="Intel Core i9-12900K">Intel Core i9-12900K</option>
					<option value="Intel Core i7-12700K">Intel Core i7-12700K</option>
					<option disabled>-------------------------------</option>
				</optgroup>
				<optgroup label="AMD">
					<option value="AMD Ryzen 9-5950X 3.4GHz 16核心 中央處理器">AMD Ryzen 9-5950X 3.4GHz 16核心 中央處理器</option>
					<option value="AMD Ryzen 7-5700G 3.8GHz 八核心 中央處理器">AMD Ryzen 7-5700G 3.8GHz 八核心 中央處理器</option>
					<option value="AMD Ryzen 5-5600X 3.7GHz 6核心 中央處理器">AMD Ryzen 5-5600X 3.7GHz 6核心 中央處理器</option>
				</optgroup>
			</select>
			<br />

			<label for="SSD" class="form-label">記憶體</label>
			<select class="custom-select custom-select-lg mb-3" id="Memory">
				<optgroup label="Corsair 海盜船">
					<option selected>請選擇記憶體</option>
					<option value="Corsair 海盜船 VENGEANCE® RGB PRO DDR4 3200 32GB(16Gx2)桌上型記憶體-黑色">Corsair 海盜船 VENGEANCE®
						RGB PRO DDR4 3200 32GB(16Gx2)桌上型記憶體-黑色</option>
					<option value="Corsair 海盜船 VENGEANCE RGB PRO SL DDR4 3600 32GB(16Gx2)桌上型記憶體-黑色">Corsair 海盜船
						VENGEANCE RGB PRO SL DDR4 3600 32GB(16Gx2)桌上型記憶體-黑色</option>
					<option value="Corsair 海盜船 VENGEANCE® LPX DDR4 2666 8GB 桌上型記憶體">Corsair 海盜船 VENGEANCE® LPX DDR4 2666
						8GB 桌上型記憶體</option>
					<option disabled>-------------------------------</option>
				</optgroup>
				<optgroup label="ADATA 威剛">
					<option value="威剛 XPG DDR4 3200 8GB*2 RGB 幾何幻光桌上型記憶體(迷戀白)">威剛 XPG DDR4 3200 8GB*2 RGB
						幾何幻光桌上型記憶體(迷戀白)</option>
					<option value="威剛 XPG DDR4- 3200 D50 (RGB) 16GB*2 超頻桌上型記憶體(AX4U3200716G16A-DT50)">威剛 XPG DDR4- 3200
						D50 (RGB) 16GB*2 超頻桌上型記憶體(AX4U3200716G16A-DT50)</option>
					<option value="威剛 XPG DDR4 3200 D10 16GB*2 超頻桌上型記憶體 (黑色散熱片)">威剛 XPG DDR4 3200 D10 16GB*2 超頻桌上型記憶體
						(黑色散熱片)</option>
					<option disabled>-------------------------------</option>
				</optgroup>
				<optgroup label="ANACOMDA 巨蟒">
					<option value="ANACOMDA 巨蟒 DDR4 3200 16GB 超頻桌上型記憶體">ANACOMDA 巨蟒 DDR4 3200 16GB 超頻桌上型記憶體</option>
					<option value="ANACOMDA 巨蟒 RGB DDR4 3200 8GB*2桌上記憶體(黑)">ANACOMDA 巨蟒 RGB DDR4 3200 8GB*2桌上記憶體(黑)
					</option>

				</optgroup>
			</select>
			<br />

			<label for="SSD" class="form-label">電源供應器</label>
			<select class="custom-select custom-select-lg mb-3" id="power">
				<optgroup label="ASUS 華碩">
					<option selected>請選擇電源供應器</option>
					<option value="ASUS 華碩 ROG STRIX 750G 750W金牌 電源供應器">ASUS 華碩 ROG STRIX 750G 750W金牌 電源供應器</option>
					<option value="ASUS 華碩 ROG STRIX 850G 850W White 白色限量版 金牌 電源供應器">ASUS 華碩 ROG STRIX 850G 850W White
						白色限量版 金牌 電源供應器</option>
					<option value="ASUS 華碩 ROG STRIX 850G 850W 金牌 電源供應器">ASUS 華碩 ROG STRIX 850G 850W 金牌 電源供應器</option>
					<option disabled>-------------------------------</option>
				</optgroup>
				<optgroup label="CORSAIR海盜船">
					<option value="CORSAIR海盜船 RM1000X 80Plus金牌 1000W電源供應器">CORSAIR海盜船 RM1000X 80Plus金牌 1000W電源供應器
					</option>
					<option value="CORSAIR海盜船 CX650F RGB 80Plus銅牌 全模組電源供應器 CP-9020226-TW">CORSAIR海盜船 CX650F RGB 80Plus銅牌
						全模組電源供應器 CP-9020226-TW</option>
					<option value="Corsair海盜船 CV650 80Plus銅牌認證 650W電源供應器">Corsair海盜船 CV650 80Plus銅牌認證 650W電源供應器</option>
				</optgroup>
			</select>
			<br />

			<label for="SSD" class="form-label">固態硬碟</label>
			<select class="custom-select custom-select-lg mb-3" id="SSD">
				<optgroup label="ADATA威剛">
					<option selected>請選擇固態硬碟</option>
					<option value="ADATA威剛XPG GAMMIX S70 BLADE 1TB Gen4x4 PCIe SSD固態硬碟">ADATA威剛XPG GAMMIX S70 BLADE 1TB
						Gen4x4 PCIe SSD固態硬碟</option>
					<option value="ADATA威剛XPG GAMMIX S70 BLADE 2TB Gen4x4 PCIe SSD固態硬碟">ADATA威剛XPG GAMMIX S70 BLADE 2TB
						Gen4x4 PCIe SSD固態硬碟</option>
					<option value="ADATA威剛 XPG S40G RGB 512G M.2 2280 PCIe SSD固態硬碟">ADATA威剛 XPG S40G RGB 512G M.2 2280
						PCIe SSD固態硬碟</option>
					<option disabled>-------------------------------</option>
				</optgroup>
				<optgroup label="CORSAIR海盜船">
					<option value="CORSAIR海盜船 Force Series MP600 500GB Gen4x4 PCIe SSD固態硬碟">CORSAIR海盜船 Force Series
						MP600 500GB Gen4x4 PCIe SSD固態硬碟</option>
					<option value="CORSAIR海盜船 MP400 2TB Gen3x4 PCIe SSD固態硬碟(CSSD-F2000GBMP400R2)">CORSAIR海盜船 MP400 2TB
						Gen3x4 PCIe SSD固態硬碟(CSSD-F2000GBMP400R2)</option>
					<option value="CORSAIR海盜船 MP600 Core 2TB Gen4x4 PCIe SSD固態硬碟">CORSAIR海盜船 MP600 Core 2TB Gen4x4 PCIe
						SSD固態硬碟</option>
				</optgroup>
			</select>
			<br />

			<label for="gpu" class="form-label">顯示卡</label>
			<select class="custom-select custom-select-lg mb-3" id="gpu">
				<optgroup label="NVIDIA">
					<option selected>請選擇顯示卡</option>
					<option value="NVIDIA GeForce RTX 3080 Founders Edition 顯示卡">NVIDIA GeForce RTX 3080 Founders
						Edition 顯示卡</option>
					<option disabled>-------------------------------</option>
				</optgroup>
				<optgroup label="MSI 微星">
					<option value="微星 GeForce RTX 3080 SUPRIM X 10G LHR 顯示卡+H510M BOMBER+P240 水冷">微星 GeForce RTX 3080
						SUPRIM X 10G LHR 顯示卡+H510M BOMBER+P240 水冷</option>
					<option value="微星MSI GeForce RTX 3060 Ti 8G VENTUS 2X OC PCI-E顯示卡">微星MSI GeForce RTX 3060 Ti 8G
						VENTUS 2X OC PCI-E顯示卡</option>
					<option disabled>-------------------------------</option>
				</optgroup>
				<optgroup label="GIGABYTE 技嘉">
					<option value="技嘉 GeForce RTX™ 3070 GAMING OC 8G (rev. 2.0) 顯示卡+X570S+B560M">技嘉 GeForce RTX™ 3070
						GAMING OC 8G (rev. 2.0) 顯示卡+X570S+B560M</option>
					<option value="技嘉AORUS Radeon RX 6900 XT XTREME WATERFORCE WB 16G 顯示卡">技嘉AORUS Radeon RX 6900 XT
						XTREME WATERFORCE WB 16G 顯示卡</option>
					<option value="技嘉 GeForce RTX 3070 GAMING OC 8G (rev. 2.0) 顯示卡+X570S AORUS ELITE AX">技嘉 GeForce RTX
						3070 GAMING OC 8G (rev. 2.0) 顯示卡+X570S AORUS ELITE AX</option>
				</optgroup>
			</select>
			<br />



			<button class="btn btn-success btn-block" id="sure">確定</button>
		</div>
	</div>
	</div>
</body>

</html>