<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>登入系統</title>
</head>

<body>
	 <div class="system_name">
      <h2>登入系統</h2>
    </div>
    
    <div class="login_page">
      <div id="container1">

        <div class="login">  
          
          <h3>登入 Login</h3>

          <form action="用戶管理.php">
            <input type="text" id="username" name="username" placeholder="帳號" required>
            <div class="tab"></div>
            <input type="text" id="password" name="password" placeholder="密碼" required>
            <div class="tab"></div>
            <input type="submit" value="登入" >
			</form>
			    
        </div><!-- login end-->
      </div><!-- container1 end-->
    </div><!-- login_page end-->
    
</body>
</html>
