<html>
    <head>
        <meta charset="utf-8">
        <title>電腦報價幫手</title>
        <link href="css/Memory.css" rel="stylesheet">
    </head>

    <body>
        <div class="center"> 
            <div class = "h1">
				<a href="index.html" target="_self"  style="text-decoration:none" title="電腦報價幫手">電腦報價幫手</a>
			</div>
            <form name="input" action="XXX" method="get">
                <div class="search">
                    <input type="text" name="name" size="100%">
                    <input type="submit" value="搜尋">
                </div>
            </form>
			<div class="but">
				<div class="login">
					<input type="button" value="Log In">
				</div>
			<div class="signup">
				<input type="button" value="Sign Up">
				</div>
			</div>
		</div>
        <hr/>
        
          <div class="list">
            <ul>
                <li><a href="cpu.html">CPU</a></li>
                <li><a href="MB.html">主機板</a></li>
                <li><a href="ssd.html">SSD</a></li>
                <li><a href="hdd.html">HDD</a></li>
                <li><a href="VGA.html">顯示卡</a></li>
                <li><a href="Memory.html">記憶體</a></li>
                <li><a href="Power.html">電源供應器</a></li>
                <li><a href="chassis.html">機殼</a></li>
            </ul>
          </div>
        <hr/>
		<div class="cm">
            <div id="filterbar" class="bar-spinbtn">
              價格範圍:
                <input id="minprice" type="text" value="">
                ~
                <input id="minprice1" type="text" value="">
                <input id="btn-prc" type="button" value="搜尋">
            </div>
        </div>
		<div class="cmr">
			選擇品牌:
			<select name="catordog">
			  <option>品牌</option>
			  <optgroup label="品牌">
                <option>ADATA 威剛</option>
			    <option>ANACOMDA 巨蟒</option>	
			    <option>Apacer 宇瞻</option>
				<option>CORSAIR 海盜船</option>
				<option>Crucial 美光</option>
				<option>├美光 Crucial Ballistix</option>
				<option>G. SKILL 芝奇</option>
				<option>GeIL 友懋</option>
				<option>Gigastone 立達</option>
				<option>KLEVV 科賦</option>
				<option>Kingston 金士頓</option>
				<option>├Kingston FURY 金士頓</option>
				<option>├HyperX</option>
				<option>LEVEN 獵穩</option>
				<option>Neo Forza 凌航</option>  
				<option>ORCA 威力鯨</option>
				<option>PNY必恩威</option>
				<option>Patriot 美商博帝</option>  
				<option>├ VIPER 蟒龍</option>  
				<option>TEAM 十銓</option>
				<option>├T-FORCE 十銓</option>
				<option>Transcend 創見</option>
			    <option>v-color 全何</option>
				<option>其他品牌</option>
              </optgroup>
			</select>
		</div>
		<div class="cmrr">
			容量:
			<select name="dogorcat">
			  <option>容量</option>
			  <optgroup label="桌上型">
			    <option>DDR2-4GB(2GBX2)</option> 
				<option>DDR2-2GB</option>
				<option>DDR3-2GB</option> 
				<option>DDR3-4GB</option>
				<option>DDR3-8GB</option>
				<option>DDR3-8GB(4GB*2)</option>
				<option>DDR3-16GB(8G*2)</option>
				<option>DDR3-32GB(16G*2)</option>
				<option>DDR4-4GB</option>
				<option>DDR4-8GB</option>
				<option>DDR4-8GB(4G*2)</option>
				<option>DDR4-16GB</option>
				<option>DDR4-16GB(8G*2)</option>
				<option>DDR4-32GB</option>
				<option>DDR4-32GB(16G*2)</option>
				<option>DDR4-64GB(32G*2)</option>
			  </optgroup>
			  <optgroup label="筆記型">
				<option>APPLE 專用</option>
				<option>DDR2-2GB</option>
				<option>DDR3-2GB</option>
				<option>DDR3-4GB</option>
				<option>DDR3-8GB</option>
				<option>DDR3-8GB(4GB*2)</option>
				<option>DDR3-16GB(8GB*2)</option>  
				<option>DDR4-4GB</option>  
				<option>DDR4-8GB</option>
				<option>DDR4-16GB</option>
				<option>DDR4-16GB(8GB*2)</option>
				<option>DDR4-32GB</option>
				<option>DDR4-32GB(16GB*2)</option>
				<option>DDR4-64GB(32GB*2)</option>
			  </optgroup>
			</select>
		</div>
		<div class="cmrrr">
			頻率:
			<select name="dogorcat">
			  <option>頻率</option>
			  <optgroup label="桌上型">
			    <option>DDR3 1333 ↑</option> 
				<option>DDR3 1866</option>
				<option>DDR4 2133 ↑</option> 
				<option>DDR4 2666 ↑</option>
				<option>DDR4 3200 ↑</option>
				<option>DDR4 3600 ↑</option>
				<option>DDR4 4600</option>
				<option>DDR5 4800 ↑</option>
			  </optgroup>
		      <optgroup label="筆記型">
				<option>DDR2 800</option>
				<option>DDR3 1333</option>
				<option>DDR3 1600 ↑</option>
				<option>DDR4 2133 ↑</option>
				<option>DDR4 2666 ↑</option>
				<option>DDR4 3200 ↑</option>
			  </optgroup>
			</select>
		</div>	
        <br/>
            <table width="100%" height="508" border="1">
			<tbody>
              <tr class="title_1">
                <th width="20%" height="50" bgcolor="#fffcec" scope="col"><font size="5">圖片</font></th>
				<th width="50%" bgcolor="#fffcec" scope="col"><font size="5">規格</font></th>
                <th width="15%" bgcolor="#fffcec" scope="col"><font size="5">價錢</font></th>
				<th width="15%" bgcolor="#fffcec" scope="col"><font size="5">前往購買</font></th>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/7.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5)</h5>
				<span class="nick">"Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5) ◆模組內建電源管理積體電路 ◆極致穩定高相容性 ◆1.1v電壓節能省電 ◆有限終身保固 ◆代理商捷元"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$2099</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAC00-A900BXGQF')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/7.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5)</h5>
				<span class="nick">"Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5) ◆模組內建電源管理積體電路 ◆極致穩定高相容性 ◆1.1v電壓節能省電 ◆有限終身保固 ◆代理商捷元"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$2099</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAC00-A900BXGQF')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/7.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5)</h5>
				<span class="nick">"Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5) ◆模組內建電源管理積體電路 ◆極致穩定高相容性 ◆1.1v電壓節能省電 ◆有限終身保固 ◆代理商捷元"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$2099</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAC00-A900BXGQF')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/7.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5)</h5>
				<span class="nick">"Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5) ◆模組內建電源管理積體電路 ◆極致穩定高相容性 ◆1.1v電壓節能省電 ◆有限終身保固 ◆代理商捷元"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$2099</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAC00-A900BXGQF')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/7.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5)</h5>
				<span class="nick">"Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5) ◆模組內建電源管理積體電路 ◆極致穩定高相容性 ◆1.1v電壓節能省電 ◆有限終身保固 ◆代理商捷元"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$2099</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAC00-A900BXGQF')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/7.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5)</h5>
				<span class="nick">"Micron Crucial 美光 DDR5 4800 8GB 桌上型記憶體(CT8G48C40U5) ◆模組內建電源管理積體電路 ◆極致穩定高相容性 ◆1.1v電壓節能省電 ◆有限終身保固 ◆代理商捷元"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$2099</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAC00-A900BXGQF')"></div></td>
			  </tr>
			</tbody>
			</table>

    </body>
</html>