<html>
    <head>
        <meta charset="utf-8">
        <title>電腦報價幫手</title>
        <link href="css/VGA.css" rel="stylesheet">
    </head>

    <body>
        <div class="center"> 
            <div class = "h1">
				<a href="index.html" target="_self"  style="text-decoration:none" title="電腦報價幫手">電腦報價幫手</a>
			</div>
            <form name="input" action="XXX" method="get">
                <div class="search">
                    <input type="text" name="name" size="100%">
                    <input type="submit" value="搜尋">
                </div>
            </form>
			<div class="but">
				<div class="login">
					<input type="button" value="Log In">
				</div>
			<div class="signup">
				<input type="button" value="Sign Up">
				</div>
			</div>
		</div>
        <hr/>
        
          <div class="list">
            <ul>
                <li><a href="cpu.html">CPU</a></li>
                <li><a href="MB.html">主機板</a></li>
                <li><a href="ssd.html">SSD</a></li>
                <li><a href="hdd.html">HDD</a></li>
                <li><a href="VGA.html">顯示卡</a></li>
                <li><a href="Memory.html">記憶體</a></li>
                <li><a href="Power.html">電源供應器</a></li>
                <li><a href="chassis.html">機殼</a></li>
            </ul>
          </div>
        <hr/>
		<div class="cm">
            <div id="filterbar" class="bar-spinbtn">
              價格範圍:
                <input id="minprice" type="text" value="">
                ~
                <input id="minprice1" type="text" value="">
                <input id="btn-prc" type="button" value="搜尋">
            </div>
        </div>
		<div class="cmr">
			選擇品牌:
			<select name="catordog">
			<option>品牌</option>
			  <optgroup label="品牌">
				<option>AMD 超微</option>
				<option>ASUS 華碩</option>
				<option>GIGABYTE 技嘉</option>
				<option>INNO3D 映眾</option>
				<option>LEADTEK 麗臺</option>
				<option>MSI 微星</option>
				<option>NVIDIA 輝達</option>
				<option>PNY 必恩威</option>
				<option>PowerColor 撼訊</option>
				<option>ZOTAC 索泰</option>
				<option>他品牌</option>
			  </optgroup>
			</select>
		</div>
		<div class="cmrr">
			選擇晶片:
			<select name="dogorcat">
			  <option>晶片</option>
			  <optgroup label="NVIDIA晶片">
			    <option>RTX 3090</option> 
				<option>RTX 3080 Ti</option>
				<option>RTX 3080</option> 
				<option>RTX 3070 Ti</option>
				<option>RTX 3070</option>
				<option>RTX 3060 Ti</option> 
				<option>RTX 3060</option>
				<option>RTX 2060</option> 
				<option>GTX 1660 Ti</option>
				<option>GTX 1660 Super</option>
				<option>GTX 1660</option> 
				<option>GTX 1650 Super</option>
				<option>GTX 1050Ti</option> 
				<option>GT 1030</option>
				<option>GT 730</option>
				<option>GF 210/GT 710</option>
				<option>Quadro 繪圖系列</option>    
			  </optgroup>
			  <optgroup label="AMD 晶片">
				<option>Radeon 6900 XT</option>
				<option>Radeon 6800 XT</option>
				<option>Radeon 6800</option>
				<option>Radeon 6700 XT</option>
				<option>Radeon 6600 XT</option>
				<option>Radeon 6600</option>
				<option>Radeon 5700 XT</option>
				<option>Radeon 5500 XT</option>
				<option>Radeon RX570</option>
				<option>Radeon RX550</option>
				<option>RadeonPro 繪圖系列</option>
			  </optgroup>
			</select>
		</div>
        <br/>
            <table width="100%" height="508" border="1">
			<tbody>
              <tr class="title_1">
                <th width="20%" height="50" bgcolor="#fffcec" scope="col"><font size="5">圖片</font></th>
				<th width="50%" bgcolor="#fffcec" scope="col"><font size="5">規格</font></th>
                <th width="15%" bgcolor="#fffcec" scope="col"><font size="5">價錢</font></th>
				<th width="15%" bgcolor="#fffcec" scope="col"><font size="5">前往購買</font></th>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/6.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M</h5>
				<span class="nick">"微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M ◆ 顯示晶片 ：nvidia geforce rtx 3060 ◆ 記憶體 ：12gb gddr6 ◆ 核心時脈：boos"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$24080</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAD1R-1900C0IND')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/6.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M</h5>
				<span class="nick">"微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M ◆ 顯示晶片 ：nvidia geforce rtx 3060 ◆ 記憶體 ：12gb gddr6 ◆ 核心時脈：boos"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$24080</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAD1R-1900C0IND')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/6.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M</h5>
				<span class="nick">"微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M ◆ 顯示晶片 ：nvidia geforce rtx 3060 ◆ 記憶體 ：12gb gddr6 ◆ 核心時脈：boos"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$24080</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAD1R-1900C0IND')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/6.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M</h5>
				<span class="nick">"微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M ◆ 顯示晶片 ：nvidia geforce rtx 3060 ◆ 記憶體 ：12gb gddr6 ◆ 核心時脈：boos"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$24080</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAD1R-1900C0IND')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/6.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M</h5>
				<span class="nick">"微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M ◆ 顯示晶片 ：nvidia geforce rtx 3060 ◆ 記憶體 ：12gb gddr6 ◆ 核心時脈：boos"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$24080</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAD1R-1900C0IND')"></div></td>
			  </tr>
			  <tr>
			    <td bgcolor="#fffcec"><div align="center"><img src="images/6.jpg" width="237" height="136" alt=""/></div></td>
				<td bgcolor="#fffcec"><h5 class="pron_name">微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M</h5>
				<span class="nick">"微星 GeForce RTX 3060 GAMING Z TRIO 12G 顯示卡+B550+B550M ◆ 顯示晶片 ：nvidia geforce rtx 3060 ◆ 記憶體 ：12gb gddr6 ◆ 核心時脈：boos"</span></td>
                <td bgcolor="#fffcec"><div class="Price" align="center">$24080</div></td>
				<td bgcolor="#fffcec"><div align="center"><input type="button" value="前往購買" onclick="window.open('https://24h.pchome.com.tw/prod/DRAD1R-1900C0IND')"></div></td>
			  </tr>
			</tbody>
			</table>

    </body>
</html>