body{
    background-color:#cccccc;
}
h3{
	width: 200px;
    height: 20px;
    margin: 10px;
    color: #EB538C;
}
.username{
	width: 200px;
    height: 20px;
    margin: 10px;
    color: black;
}
.password{
	width: 200px;
    height: 20px;
    margin: 10px;
    color: black;
}
h5{
	font-size: 15px;
	margin: 20px;
    color: #a3a2a3;
	float:left;
}
h5:hover {
    color: black;
}
h6{
	font-size: 15px;
	margin: 20px;
    color: #a3a2a3;
	float:left;
}
h6:hover{
	color: black;
}
.container1{
	display: flex;
	padding:10px 15px;
    width: 283px;
    height: 320px;
	background-color: white;
    border-radius: 5px;
    border-top: 10px solid #EB538C;
	box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
	position: relative;
    margin: auto;
    top: 100px;
}
.su{
	color: white;
    background: #EB538C;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
}
.sa{
    color: white;
    background: #EB538C;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
}